html {
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    margin-left: 6px;
    padding:20px;
    background: black;
}

body {
    font: 15px/1.3 'PT Sans', sans-serif;;
    position: relative;
    z-index: 0;  height: 80%;
    background: whitesmoke;
    color:black;

}



.main-content
{

    padding:10px;
    margin-left:1%;
    color:black;
    position: relative;
    height: 100%;    width: 95%;
}
.sb-site {

    position: relative;
    z-index: 1;
    padding: 150px 0px 600px;

}
header
{
    border:2px solid black;
    font-family: 'Playball', cursive;
    position:absolute;
    color:black;

    margin-left:30%;
}
#SuccActiv{
    margin-left:20%;
    margin-top:20%;
    border:1px solid white;
    background-color:green;
    width:650px;
}
#FalseActiv{
    margin-left:20%;
    margin-top:20%;
    border:1px solid white;
    background-color:red;
    width:650px;
}
input[type=submit],
input[type=button]{
    border: none;
    padding: 8px 15px 8px 15px;
    background: #FF8500;
    color: #fff;
    box-shadow: 1px 1px 4px #DADADA;
    -moz-box-shadow: 1px 1px 4px #DADADA;
    -webkit-box-shadow: 1px 1px 4px #DADADA;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    font-size:20px;
    margin-top:300px;
    margin-left:20px;
    width:100%;
}
input[type=submit]:hover,
input[type=button]:hover{
    background: #EA7B00;
    color: #fff;
}
