

.sb-slidebar {
    height: 100%;
    overflow-y: auto;
    position: fixed;
    top: 60px;
    z-index: 0;
    display: none;
    background-color: #222222;
    -webkit-transform: translate(0px);
}
.sb-slidebar  {
    height: 100%;
    overflow-y: auto;
    position: fixed;
    top: 60px;
    z-index: 0;
    display: none;
    background-color: #222222;
    -webkit-transform: translate(0px);
}

.sb-left {
    left: 0;

}
.sb-left a
{
    display:block;
    text-decoration: none;
    color:white;
    padding: 15px 20px;
    font-size: 16px;
    font-weight: 100;
    border-bottom: 1px solid #adb6c9;
    -webkit-transition:  background 0.3s ease-in-out;
    -moz-transition:  background 0.3s ease-in-out;
    -o-transition:  background 0.3s ease-in-out;
    transition:  background 0.3s ease-in-out;

}
.sb-left a:hover
{
    background: #666666;
}
html.sb-static .sb-slidebar,
.sb-slidebar.sb-static {
    position: absolute; /* Makes Slidebars scroll naturally with the site, and unfixes them for Android Browser < 3 and iOS < 5. */
}

.sb-slidebar.sb-active {
    display: block;
    background-color:black;
}

.sb-style-overlay {
    z-index: 9999; /* Set z-index high to ensure it overlays any other site elements. */
}


/* Slidebar widths for browsers/devices that don't support media queries. */
.sb-slidebar {
    width: 30%;
}

.sb-width-thin {
    width: 15%;
}

.sb-width-wide {
    width: 45%;
}

@media (max-width: 480px) { /* Slidebar widths on extra small screens. */
    .sb-slidebar {
        width: 70%;
    }

    .sb-width-thin {
        width: 55%;
    }

    .sb-width-wide {
        width: 85%;
    }
}

@media (min-width: 481px) { /* Slidebar widths on small screens. */
    .sb-slidebar {
        width: 55%;
    }

    .sb-width-thin {
        width: 40%;
    }

    .sb-width-wide {
        width: 70%;
    }
}

@media (min-width: 768px) { /* Slidebar widths on medium screens. */
    .sb-slidebar {
        width: 40%;
    }

    .sb-width-thin {
        width: 25%;
    }

    .sb-width-wide {
        width: 55%;
    }
}

@media (min-width: 992px) { /* Slidebar widths on large screens. */
    .sb-slidebar {
        width: 20%;
    }

    .sb-width-thin {
        width: 5%;
    }

    .sb-width-wide {
        width: 35%;
    }
}

@media (min-width: 1200px) { /* Slidebar widths on extra large screens. */
    .sb-slidebar {
        width: 20%;
    }

    .sb-width-thin {
        width: 5%;
    }

    .sb-width-wide {
        width: 35%;
    }
}

.sb-slide, #sb-site, .sb-site-container, .sb-slidebar {
    -webkit-transition: -webkit-transform 400ms ease;
    -moz-transition: -moz-transform 400ms ease;
    -o-transition: -o-transform 400ms ease;
    transition: transform 400ms ease;
    -webkit-transition-property: -webkit-transform, left, right; /* Add left/right for Android < 4.4. */
    -webkit-backface-visibility: hidden; /* Prevents flickering. This is non essential, and you may remove it if your having problems with fixed background images in Chrome. */
}


.sb-hide {
    display: none; /* Optionally applied to control classes when Slidebars is disabled over a certain width. */
}
.bar
{
    display: block;
    width: 50px;
    margin-bottom: 3px;
    height: 10px;
    background-color: #ffffff;
    border-radius: 1px;
}

.sb-toggle-left {
    position: absolute;
    top: 10px;
    margin-left: 10px;
    display: block;
    width: 50px;
    height: 50px;

}
