html {
    height: 100%;
    background: #000000;
    overflow-x: hidden;
    margin-left: 6px;
}

body {
    font: 15px/1.3 'PT Sans', sans-serif;
    color: #5e5b64;
    z-index: 0;
}


#sb-site, .sb-site-container, .sb-slidebar {

    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html.sb-scroll-lock.sb-active:not(.sb-static) {
    overflow: hidden;
}
#sb-site, .sb-site-container {

    position: relative;
    z-index: 1;

    background-repeat: no-repeat;
    padding: 150px 0px 600px;

}
.header {


    font-family: 'Playball', cursive;
    position:absolute;
}

header
{
    height:40px;


}
.usrName
{
    margin-left:1500px;
    color:white;
    margin-bottom:0;
    position:absolute;
}
.pagina{
    width:100%;
    height:100%;
    position:absolute;
}
.linha{
    width:auto;
    padding:5px;
    height:auto;
    display:table; }

.tile{
    height:100px;
    width:100px;
    float:left;
    margin:0 5px 0 0;
    padding:2px;
}
.tileLargo{
    width:210px;
}
.amarelo{
    background:#DAA520; }
.vermelho{
    background:#CD0000; }
.azul{
    background:#4682B4; }
.verde{
    background-color: #2E8B57; }
.main-content
{
    width:100% height : 100 %;
}


.sb-slidebar {
    height: 100%;
    width: 95%;
    overflow-y: auto;
    position: fixed;
    top: 60px;
    z-index: 0;
    display: none;
    background-color: #bcd1ff;
    -webkit-transform: translate(0px);
}


.sb-left {
    left: 0;

}
.sb-left a
{
    display:block;
    text-decoration: none;
    color:white;
    padding: 15px 20px;
    font-size: 24px;
    font-weight: 100;
    border-bottom: 1px solid #adb6c9;
    -webkit-transition:  background 0.3s ease-in-out;
    -moz-transition:  background 0.3s ease-in-out;
    -o-transition:  background 0.3s ease-in-out;
    transition:  background 0.3s ease-in-out;

}
.sb-left a:hover
{
    background: #666666;
}
html.sb-static .sb-slidebar,
.sb-slidebar.sb-static {
    position: absolute; /* Makes Slidebars scroll naturally with the site, and unfixes them for Android Browser < 3 and iOS < 5. */
}

.sb-slidebar.sb-active {
    display: block;
    background-color: #6c6179;
}

.sb-style-overlay {
    z-index: 9999; /* Set z-index high to ensure it overlays any other site elements. */
}


.sb-slide, #sb-site, .sb-site-container, .sb-slidebar {
    -webkit-transition: -webkit-transform 400ms ease;
    -moz-transition: -moz-transform 400ms ease;
    -o-transition: -o-transform 400ms ease;
    transition: transform 400ms ease;
    -webkit-transition-property: -webkit-transform, left, right; /* Add left/right for Android < 4.4. */
    -webkit-backface-visibility: hidden; /* Prevents flickering. This is non essential, and you may remove it if your having problems with fixed background images in Chrome. */
}


.sb-hide {
    display: none; /* Optionally applied to control classes when Slidebars is disabled over a certain width. */
}
.bar
{
    display: block;
    width: 50px;
    margin-bottom: 3px;
    height: 10px;
    background-color: #ffffff;
    border-radius: 1px;
}

.sb-toggle-left {
    position: absolute;
    top: 10px;
    margin-left: 10px;
    display: block;
    width: 50px;
    height: 50px;

}
