html {
    height: 100%;
    background: black;
    overflow-x: hidden;
    margin-left: 6px;

}
body {
    font: 15px/1.3 'PT Sans', sans-serif;
    color: #5e5b64;
    position: relative;
    z-index: 0;
}
#sb-site, .sb-site-container, .sb-slidebar {

    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color:lightgray;

}
html.sb-scroll-lock.sb-active:not(.sb-static) {
    overflow: hidden; /* Prevent site from scrolling when a Slidebar is open, except when static Slidebars are only available. */
}
#sb-site, .sb-site-container {

    width: 100%;
    position: relative;
    z-index: 1;

    padding: 150px 0px 600px;

}
.main-content
{
    padding:10px;
    margin-left:1%;
    color:white;
    position: relative;
    height: 100%;    width: 100%;
}

.header {


    font-family: 'Playball', cursive;
    position:absolute;
}

header
{
    height:40px;


}
.usrName
{
    margin-left:1600px;
    color:white;
    margin-bottom:0;
    position:absolute;
}

.usrEdit{
    max-width: 50%;
    padding: 20px 12px 10px 20px;
    font: 17px Arial, Helvetica, sans-serif;

    margin-left:100px;
    margin-top:-150px;

}
.usrEdit-heading{
    font-weight: bold;
    font-style: italic;
    border-bottom: 2px solid black;
    margin-bottom: 20px;
    font-size: 40px;
    padding-bottom: 3px;
    font-family: 'Playball', cursive;
    color:black;

}
.usrEdit label{
    display: block;
    margin: 0px 0px 15px 0px;
    color:black;  font-size: 18px;
}
.usrEdit label > span{
    width: 100px;
    font-weight: bold;
    float: left;
    padding-top: 8px;
    padding-right: 5px;
}
.usrEdit input.input-field{
    width: 48%;
    padding:10px;

}

.usrEdit input.input-field,
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #C2C2C2;
    box-shadow: 1px 1px 4px #EBEBEB;
    -moz-box-shadow: 1px 1px 4px #EBEBEB;
    -webkit-box-shadow: 1px 1px 4px #EBEBEB;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 7px;
    outline: none;
}
.usrEdit .input-field:focus,
{
    border: 1px solid #0C0;
}
.usrEdit .textarea-field{
    height:100px;
    width: 55%;
}
.usrEdit input[type=submit],
.usrEdit input[type=button]{
    border: none;
    padding: 8px 15px 8px 15px;
    background: #FF8500;
    color: #fff;
    box-shadow: 1px 1px 4px #DADADA;
    -moz-box-shadow: 1px 1px 4px #DADADA;
    -webkit-box-shadow: 1px 1px 4px #DADADA;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    font-size:20px;
}
.usrEdit input[type=submit]:hover,
.usrEdit input[type=button]:hover{
    background: #EA7B00;
    color: #fff;
}
.manipulate
{
    margin-left:64%;
    margin-top:-430px;
}