html {
    height: 100%;
    background: black;
    overflow-x: hidden;
    margin-left: 6px;

}

body {
    font: 15px/1.3 'PT Sans', sans-serif;
    color: #918c97;
    position: relative;
    z-index: 0;
}


#sb-site, .sb-site-container, .sb-slidebar {

    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color:lightgray;
}

html.sb-scroll-lock.sb-active:not(.sb-static) {
    overflow: hidden; /* Prevent site from scrolling when a Slidebar is open, except when static Slidebars are only available. */
}
#sb-site, .sb-site-container {

    width: 100%;
    position: relative;
    z-index: 1;
    height: 80%;
    padding: 150px 10px 600px 10px;
}

.main-content
{

    padding:10px;
    margin-left:1%;
    color:white;
    position: relative;
    height: 100%;    width: 95%;
}

.header {


    font-family: 'Playball', cursive;
    position:absolute;
}

header
{
    height:40px;
}
#accordion
{
    width:100%;
    word-wrap: break-word;
    margin-top:-160px;
    margin-left:40px;
    height:400px;;
}
